@import "tailwindcss";

@font-face {
  font-family: "Poppins-bold";
  src: url(../public/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url(../public/fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "Poppins-Medium";
  src: url(../public/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins-Regular";
  src: url(../public/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins-Light";
  src: url(../public/fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: "Open-Sans-Bold";
  src: url(../public/fonts//OpenSans-Bold.ttf);
}

@font-face {
  font-family: "Open-Sans-Medium";
  src: url(../public/fonts/OpenSans-Medium.ttf);
}

@font-face {
  font-family: "Open-Sans-Regular";
  src: url(../public/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Open-Sans-Light";
  src: url(../public/fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: "Breathing";
  src: url(../public/fonts/Breathing.ttf);
}

@theme {
  --color-azul:#41588e;
  --color-celeste:#b0c4df;
  --color-marroncito:#f0edea;
  --color-marroncito-v2:#CB9E91;
  --color-beige:#faf5f1;
  --color-marron-oscuro:#8c6a54;
  --color-marron-oscuro-pseres:#CA7B3C;
  --color-marron-claro-pseres:#E2D0B5;
  --color-verde-oscuro-pseres:#777743;
  --color-verde-claro-pseres:#DEDCC4;
  --color-azul-esc:#202C54;
  --color-amarillo-esc:#FBB927;
  --color-celeste-esc:#B8D1EB;
  --color-negro-ilumina:#1D1D1B;
  --font-poppins: "Poppins-Regular", sans-serif;
  --font-poppins-light: "Poppins-Light", sans-serif;
  --font-poppins-bold: "Open-Sans-Bold", sans-serif;
  --font-open-sans: "Open-Sans-Regular", sans-serif;
  --font-open-sans-light: "Open-Sans-Light", sans-serif;
  --font-open-sans-bold: "Open-Sans-Bold", sans-serif;
  --font-breathing: "Breathing", sans-serif;
}

.nav-hover-btn {
  @apply relative text-xs uppercase text-marron-oscuro after:absolute after:-bottom-0.5 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-marron-oscuro after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100 dark:after:bg-marron-oscuro cursor-pointer;
}

.fade-image { 
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 80%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 80%);
}

.fade-video {
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 70%);
  -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 70%);
}

.fade-celular {
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 90%);
  -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 90%);
}
