@import "tailwindcss";


@theme {
  /* ── Nueva paleta ── */
  --color-dorado: #ac9467;
  --color-verde: #708273;
  --color-marino: #232b50;
  --color-crema: #f8f8f8;

  /* ── Nuevas fuentes ── */
  --font-cardo: 'Cardo', serif;
  --font-quicksand: 'Quicksand', sans-serif;
}
